.input {
    padding: 10px;
    min-width: 200px;
    border-radius: 8px;
    font-size: 16px;
}

.wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

.find {
    font-size: 22px;
    margin-bottom: 8px;
}