.navigation {
    display: flex;
    gap: 24px;
    padding: 24px;
    justify-content: center;
    background-color: #343434;
}

.link {
    font-size: 20px;
    color: whitesmoke;
    line-height: 1;
    font-weight: 350;
}

.activeLink {
    color: lightblue;
    font-size: 22px;
    font-weight: 500;
    transition: all 0.1s linear;
}