.listOfContacts {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.wrapper {
    display: flex;
    background-color: whitesmoke;
    justify-content: space-between;
    padding: 16px;
    color: black;
    border-radius: 10px;
    border: 2px solid lightblue;
}