.buttonLogOut {
    margin-right: 24px;
    font-size: 18px;
    /* font-weight: 600; */
    background-color: transparent;
    color: lightcoral;
    border: none;
    cursor: pointer;
}

.title {
    color: lightblue;
}

.wrapper {
    display: flex;
    gap: 24px;
}